In [15]:
import pandas as pd 
import matplotlib.pyplot as plt

index = [2,3,4,5,6]
time_bob = [0.1,3,58,597,2052]
time_marc = [0.01,0.9,15,247,900]

df = pd.DataFrame(zip(index,time_bob,time_marc), columns=["log(n)", "Time Bob", "Time Marc"])

In [23]:
df

   log(n)  Time Bob  Time Marc
0       2       0.1       0.01
1       3       3.0       0.90
2       4      58.0      15.00
3       5     597.0     247.00
4       6    2052.0     900.00